name: Java CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Set up JDK 15
      uses: actions/setup-java@v1
      with:
        java-version: 15
    - name: sudo
      run: sudo chmod +x ./gradlew
    - name: Build with Gradle
      run: ./gradlew build
    - name: test
      run: ./gradlew test
    - if: always()
      name: Upload test result
      uses: actions/upload-artifact@v2
      with:
        name: test
        path: build/reports/**/*
    - name: sonarcloud
      run: ./gradlew sonarqube
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_SONAR }}
  analyze:
    runs-on: ubuntu-latest
    steps:
    - name: Qodana - Code Inspection
      uses: JetBrains/qodana-action@v1.0-eap
      with:
        project-dir: /
        results-dir: qodana-results # will be resolved as /github/workspace/myproject/qodana-results
        report-dir: qodana-report # will be resolved as /github/workspace/myproject/qodana-report
    - if: always()
      name: Results-dir
      uses: actions/upload-artifact@v2
      with:
        name: results-dir
        path: qodana-results
    - if: always()
      name: Report-dir
      uses: actions/upload-artifact@v2
      with:
        name: report-dir
        path: qodana-report
